body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Skip to Content Link */
.skip-link {
  position: absolute;             
  left: 20px;            /* moves it to the left side of the header */
  background: #1105fc;    /* matches <h1> color */
  color: white;           /* readable text color */
  font-weight: 700;
  font-size: 16px;
  padding: 4px;
  transform: translateY(-100%); /* hides it off-screen initially */
}

.skip-link:focus {
  transform: translateY(0%);
}

h1#site-title {
 color: #1105fc;
  font-size: 72px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
}

h1#article-title {
  font-size: 48px;
}

figure {
  border: 1px solid black;
  padding: 12px;
  padding-bottom: 24px; 
}

figure img {
  width: 50%;
  height: auto;
  margin-bottom: 12px;
}

p img {
  float: right;
  max-width: 100%;
  margin-left: 20px;
  margin-bottom: 32px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  border: 1px solid #0259bd;
}

a {
  font-weight: bold;
  color: #053bfc;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

ul li a:hover {
  text-decoration: underline;
  
}