body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.skip-link {
  position: absolute;             
  left: 20px;            
  background: #1105fc;    
  color: white;           
  font-weight: 700;
  font-size: 16px;
  padding: 4px;
  transform: translateY(-100%); 
}

.skip-link:focus {
  transform: translateY(0%);
}

.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

h1#site-title {
 color: #1105fc;
  font-size: 72px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
}

h1#article-title {
  font-size: 48px;
}

h2 {
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 8px;
  color: #053bfc;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  border: 1px solid black;
  padding: 12px;
  padding-bottom: 24px; 
}

figure.main-image {
  color:#ffffff;
  background: rgb(147, 196, 230);
  border-color: #0259bd
}

@media all and (min-width: 768px) {
  figure.section-image {
  max-width: 100%;
  margin-bottom: 32px;
  }
}

figure.section-image.odd,
figure.section-image.even {
  float: none;
  margin-left: 0 0 24px 0;
}

figure.section-image.odd {
    float: right;
    margin-left: 20px;
  }

figure.section-image.even {
  float: left;
  margin-right: 20px;
}

p img {
  float: right;
  max-width: 100%;
  margin-left: 20px;
  margin-bottom: 32px;
}

ul {
  list-style: none;
  padding-left: 0;
  border: 1px solid #0259bd;
}

@media all and (min-width: 376px) {
  ul {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

a {
  font-weight: bold;
  color: #053bfc;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

ul li a:hover {
  text-decoration: underline;
  
}